<form [formGroup]="userForm" (ngSubmit)="userForm.valid && submit()">
    <label>
        <div>Name:</div>
        <input type="text" formControlName="vendorName">
    </label><br>
    <label>
        <div>Type:</div>
        <input type="text" formControlName="type">
    </label><br>
    <label>
        <div>Email:</div>
        <input type="text" formControlName="email">
    </label><br>
    <label>
        <div>Web Url:</div>
        <input type="text" formControlName="webUrl">
    </label><br>
    <label>
        <div>Action:</div>
        <input type="text" formControlName="action">
    </label><br>
    <label>
        <small style="display: block;text-align: center;">All fields are mandatory</small>
        <button type="submit" [disabled]="!userForm.valid">{{ !isEdit ? "Add User" : "Update"}}</button>
        <button type="reset" (click)="reset()">reset</button>
    </label><br>
</form>