<table>
    <thead>
        <tr>
            <th>#ID</th>
            <th>Vendor Name</th>
            <th>Type</th>
            <th>Email</th>
            <th>Web Url</th>
            <th>Action</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList;let i = index">
            <td>{{i+1}}</td>
            <td>{{user.vendorName}}</td>
            <td>{{user.type}}</td>
            <td>{{user.email}}</td>
            <td>{{user.webUrl}}</td>
            <td>{{user.action}}</td>
            <td><button type="button" (click)="update(user)">update</button></td>
            <td><button type="button" (click)="delete(user)">Delete</button></td>
        </tr>
    </tbody>
</table>