/* You can add global styles to this file, and also import other style files */
.container{
    max-width:720px;
    display:block;
    margin: 10px auto;
}
.container form{
    border: 1px solid black;
    padding: 40px 0;
    border-radius: 12px;
    display: block;
    margin: auto;
    max-width: 500px;
}
.container form label{
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.container form label div{
    display: inline-block;
    width: 150px;
}
.container table{
    padding: 20px;
    border: 1px solid black;
    padding: 40px 0;
    border-radius: 12px;
    display: block;
    margin: auto;    
    border-collapse: collapse;
}
th,td{
    min-width: 80px;
    text-align: center;
}
